.*.swp
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h.in*
config.h
config.log
config.status
configure
libescdf-*.tar.bz2
libescdf-*.tar.gz
libescdf-*.tar.xz
libtool
stamp-h1
tmp
tmp-*
*.tmp
/config/data/libescdf
/config/data/libescdf-config.yml
/config/data/libescdf.pc
/config/gnu
/config/gnu/compile
/config/gnu/config.guess
/config/gnu/config.sub
/config/gnu/depcomp
/config/gnu/install-sh
/config/gnu/ltmain.sh
/config/gnu/missing
/config/m4/libtool.m4
/config/m4/ltoptions.m4
/config/m4/ltsugar.m4
/config/m4/ltversion.m4
/config/m4/lt~obsolete.m4
/config/wrappers
/doc/configuring-libescdf.html
/doc/contributing-to-libescdf.html
/doc/developers
/doc/hacking-the-build-system.html
/src/*.o
/src/*.lo
/src/.deps/
/src/.libs/
/src/*.la
/src/*.c~
/src/*.h~
/src/*.h5
src/escdf_*_specs.h
src/escdf_*_IDs.h
src/escdf_lookuptable.c
src/escdf_lookuptable.h
config/data/escdf-config.yml
src/gcov_*
src/test_memory

config/data/escdf-config.yml
src/escdf_globals.h
